@charset 'utf-8';

body,h1,h2,h3,h4,h5,h6,ul,span,p,img,div,section,strong,p,td,tr,table,form,span{ margin:0; padding: 0; border: none;white-space: normal; font-weight: normal;}
html,body{
	width:100%;overflow-x:hidden;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

.clearfix{
	*+height:1%;
}
.floatL{
	float: left;
}
.floatR{
	float: right;
}
.textC{
	text-align:center;
}
.textR{
	text-align: right;
}
a{
	text-decoration:none;
}
a,input{
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
strong{
	font-weight: normal;
}
ul{
	list-style: none;
}
em{
	font-style: normal;
}
/* 清除表单的默认样式 */
input, button, select, textarea {
outline: none;
-webkit-appearance: none;
border-radius: 0;
border:none;
}
form{
	font-size: 0;
}
/* 设置input-placeholder的字体颜色 */
input::-webkit-input-placeholder{ color: #d0d0d0; font-family: pf;}    /* 使用webkit内核的浏览器 */
input:-moz-placeholder{ color: #d0d0d0; font-family: pf;}                  /* Firefox版本4-18 */
input::-moz-placeholder{ color: #d0d0d0; font-family: pf;}                  /* Firefox版本19+ */
input:-ms-input-placeholder{ color: #d0d0d0; font-family: pf;}           /* IE浏览器 */
